/* CSS Document */
.Style2 {
	color: #0033CC;
	font-weight: bold;
}
.Style3 {
	color: #0000FF;
	font-weight: bold;
}
.Style4 {
	color: #000000;
	font-weight: bold;
}
.Style5 {
	color: #FF0000
}
.Style6 {
	color: #FF0000;
	font-weight: bold;
}
.Style7 {
	color: #000000
}
.Style8 {
	color: #ff0000;
	font-weight: bold;
}
.Style9 {
	color: #0000FF
}
